/* Pokemon main colors: 
#FF0000
#cc0000
#3B4CCA
#FFDE00
#B3A125 */

/* Pokémon é */

.navbar {
  background-color: #ff0000 !important;
}

.pokeSprite {
  width: 5em;
  height: 5em;
  display: none;
}
